<template>
  <div id="app">
    <div class="container">
      <div class="row mb-3">
        <div class="col">
          <h1>Manage your Blockchain</h1>
        </div>
      </div>
      <div v-if="error" class="alert alert-danger" role="alert">{{ error }}</div>
      <div v-if="success" class="alert alert-success" role="alert">{{ success }}</div>
      <div class="row">
        <div class="col">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <router-link to="/" class="nav-link active">Wallet &amp; Node</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/network" class="nav-link">Network</router-link>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <form @submit.prevent="onAddNode">
            <div class="form-group">
              <label for="node-url">Node URL</label>
              <input
                v-model="newNodeUrl"
                type="text"
                class="form-control"
                id="node-url"
                placeholder="localhost:8001"
              >
            </div>
            <button :disabled="newNodeUrl.trim() === ''" type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
      <hr>
      <div class="row my-3">
        <div class="col">
          <button class="btn btn-primary" @click="onLoadNodes">Load Peer Nodes</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-group">
            <button
              v-for="(node, index) in nodes"
              :key="index"
              style="cursor: pointer;"
              class="list-group-item list-group-item-action"
              @click="onRemoveNode(node)"
            >{{ node }} (click to delete)</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { CSRF_TOKEN } from "@/common/csrf_token"

export default {
  data() {
    return {
      nodes: [],
      newNodeUrl: "",
      error: null,
      success: null
    };
  },
  methods: {
    onAddNode() {
      // Add node as peer node to local node server
      const vm = this;
      axios({
        method: "POST",
        headers: { "X-CSRFTOKEN": CSRF_TOKEN },
        data: { node: this.newNodeUrl },
        url: "/api/node/"
      })
        .then(response => {
          vm.success = "Stored node successfully.";
          vm.error = null;
          vm.nodes = response.data.all_nodes;
        })
        .catch(error => {
          vm.success = null;
          vm.error = error.response.data.error.message;
        });
    },
    onLoadNodes() {
      // Load all peer nodes of the local node server
      const vm = this;
      axios({
        method: "GET",
        headers: { "X-CSRFTOKEN": CSRF_TOKEN },
        url: "/api/nodes/"
      })
        .then(response => {
          vm.success = "Fetched nodes successfully.";
          vm.error = null;
          vm.nodes = response.data.all_nodes;
        })
        .catch(error => {
          vm.success = null;
          vm.error = error.response.data.error.message;
        });
    },
    onRemoveNode(node_url) {
      // Remove node as a peer node
      const vm = this;
      axios({
        method: "DELETE",
        headers: { "X-CSRFTOKEN": CSRF_TOKEN },
        url: `/api/node/${node_url}/`
      })
        .then(response => {
          vm.success = "Deleted node successfully.";
          vm.error = null;
          vm.nodes = response.data.all_nodes;
        })
        .catch(error => {
          vm.success = null;
          vm.error = error.response.data.error.message;
        });
    }
  }
};
</script>
