{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'bundle.css' %}">
{% endblock %}

{% block content %}
<noscript>
  <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
{% endblock %}

{% block js %}
<script src="{% static 'bundle.js' %}"></script>
{% endblock %}
